## Import neccessary Libraries

In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
url="https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=1&ref_=adv_nxt"
page=requests.get(url)
soup=BeautifulSoup(page.content,'html5lib')
#soup

In [6]:
all_movies=soup.find_all(class_="lister-item mode-advanced")
#all_movies
#type(all_movies)

bs4.element.ResultSet

In [4]:
len(all_movies)

50

In [5]:
first=all_movies[0]
#first

In [6]:
mname=first.find(class_="lister-item-header").get_text().replace('\n','').replace(' ','')
mname

'1.Logan(2017)'

In [7]:
fm_rate=first.find(class_="inline-block ratings-imdb-rating").get_text().strip()
fm_rate

'8.1'

In [8]:
fm_meta=first.find(class_="inline-block ratings-metascore").get_text().strip('\n Metascore')
fm_meta

'77'

In [9]:
vg_first=first.find(class_="sort-num_votes-visible").get_text().strip()
vg_first

'Votes:\n                661,589\n    |                Gross:\n                $226.28M'

In [10]:
vg_votes=vg_first.split('|')[0].strip(' Votes:\n').replace(',','')
vg_votes

'661589'

In [11]:
vg_gross=vg_first.split('|')[1].strip(' Gross:\n')
vg_gross

'$226.28M'

In [12]:
votes1=first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[0].strip(' Votes:\n').replace(',','')
votes1

'661589'

In [13]:
gross1=first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[1].strip(' Gross:\n')
gross1

'$226.28M'

In [14]:
mname,fm_rate,fm_meta,votes1,gross1

('1.Logan(2017)', '8.1', '77', '661589', '$226.28M')

In [15]:
names,ratings,metas,votes,gross=([],[],[],[],[])
for first in all_movies:
    if first.find(class_="inline-block ratings-metascore")!=None:
        names.append(first.find(class_="lister-item-header").get_text().replace('\n','').replace(' ',''))
        ratings.append(first.find(class_="inline-block ratings-imdb-rating").get_text().strip())
        metas.append(first.find(class_="inline-block ratings-metascore").get_text().strip('\n Metascore'))
        
        vg=first.find(class_="sort-num_votes-visible").get_text().strip().split('|')
        
        if len(vg)==2:
            votes.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[0].strip(' Votes:\n').replace(',',''))
            gross.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[1].strip(' Gross:\n'))
        else:
            votes.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[0].strip(' Votes:\n').replace(',',''))
            gross.append(None)

In [16]:
len(names),len(ratings),len(metas),len(votes),len(gross)

(42, 42, 42, 42, 42)

In [17]:
import pandas as pd
d={"Names":names,"Ratings":ratings,"Metascore":metas,"Votes":votes,"Gross":gross}
df=pd.DataFrame(d)
df.head(15)

,Names,Ratings,Metascore,Votes,Gross
0,1.Logan(2017),8.1,77,661589,$226.28M
1,2.Thor:Ragnarok(2017),7.9,74,607752,$315.06M
2,3.WonderWoman(2017),7.4,76,588995,$412.56M
3,4.GuardiansoftheGalaxyVol.2(2017),7.6,67,583457,$389.81M
4,5.StarWars:EpisodeVIII-TheLastJedi(2017),7.0,84,573620,$620.18M
5,6.Dunkirk(2017),7.8,94,568867,$188.37M
6,7.Spider-Man:Homecoming(2017),7.4,73,527113,$334.20M
7,8.GetOut(I)(2017),7.7,85,504448,$176.04M
8,9.BladeRunner2049(2017),8.0,81,475061,$92.05M
9,10.It(I)(2017),7.3,69,467235,$327.48M
10,11.BabyDriver(2017),7.6,86,450335,$107.83M
11,"12.ThreeBillboardsOutsideEbbing,Missouri(2017)",8.1,88,445636,$54.51M
12,13.JusticeLeague(2017),6.2,45,411205,$229.02M
13,14.Coco(I)(2017),8.4,81,400790,$209.73M
14,15.TheShapeofWater(2017),7.3,87,379576,$63.86M

In [18]:
#df.to_csv("movie_ratings1.csv",index=False)

In [20]:
#https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=1&ref_=adv_nxt
#https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=51&ref_=adv_nxt
for i in range(1,500,50):
    url=f"https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start={i}&ref_=adv_nxt"
    print(i,":",url)

1 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=1&ref_=adv_nxt
51 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=51&ref_=adv_nxt
101 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=101&ref_=adv_nxt
151 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=151&ref_=adv_nxt
201 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=201&ref_=adv_nxt
251 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=251&ref_=adv_nxt
301 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=301&ref_=adv_nxt
351 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=351&ref_=adv_nxt
401 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=401&ref_=adv_nxt
451 : https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start=451&ref_=adv_nxt

# Scrapping first 500 movies data

In [21]:
names,ratings,metas,votes,gross=([],[],[],[],[])
for i in range(1,500,50):
    url=f"https://www.imdb.com/search/title/?release_date=2017-01-01,2017-12-31&sort=num_votes,desc&start={i}&ref_=adv_nxt"
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html5lib')
    all_movies=soup.find_all(class_="lister-item mode-advanced")
    for first in all_movies:
        if first.find(class_="inline-block ratings-metascore")!=None:
            names.append(first.find(class_="lister-item-header").get_text().replace('\n','').replace(' ',''))
            ratings.append(first.find(class_="inline-block ratings-imdb-rating").get_text().strip())
            metas.append(first.find(class_="inline-block ratings-metascore").get_text().strip('\n Metascore'))

            vg=first.find(class_="sort-num_votes-visible").get_text().strip().split('|')

            if len(vg)==2:
                votes.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[0].strip(' Votes:\n').replace(',',''))
                gross.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[1].strip(' Gross:\n'))
            else:
                votes.append(first.find(class_="sort-num_votes-visible").get_text().strip().split('|')[0].strip(' Votes:\n').replace(',',''))
                gross.append(None)

In [24]:
len(names),len(ratings),len(metas),len(votes),len(gross)

(272, 272, 272, 272, 272)

In [23]:
import pandas as pd
d={"Names":names,"Ratings":ratings,"Metascore":metas,"Votes":votes,"Gross":gross}
df=pd.DataFrame(d)
df.head(15)

,Names,Ratings,Metascore,Votes,Gross
0,1.Logan(2017),8.1,77,661589,$226.28M
1,2.Thor:Ragnarok(2017),7.9,74,607752,$315.06M
2,3.WonderWoman(2017),7.4,76,588995,$412.56M
3,4.GuardiansoftheGalaxyVol.2(2017),7.6,67,583457,$389.81M
4,5.StarWars:EpisodeVIII-TheLastJedi(2017),7.0,84,573620,$620.18M
5,6.Dunkirk(2017),7.8,94,568867,$188.37M
6,7.Spider-Man:Homecoming(2017),7.4,73,527113,$334.20M
7,8.GetOut(I)(2017),7.7,85,504448,$176.04M
8,9.BladeRunner2049(2017),8.0,81,475061,$92.05M
9,10.It(I)(2017),7.3,69,467235,$327.48M
10,11.BabyDriver(2017),7.6,86,450335,$107.83M
11,"12.ThreeBillboardsOutsideEbbing,Missouri(2017)",8.1,88,445636,$54.51M
12,13.JusticeLeague(2017),6.2,45,411205,$229.02M
13,14.Coco(I)(2017),8.4,81,400790,$209.73M
14,15.TheShapeofWater(2017),7.3,87,379576,$63.86M